
html{
    font-size: 62.5%
}
body{
    padding: 0.1rem;
    background-color: rgb(252, 252, 252);
}

img, video, object,embed{
    max-width: 100%;
}

/****** menu *******/
nav ul li{
    list-style: none;
    text-align: center;
    border: 0.1rem solid #999999;
    border-radius: 50%;
    background-color: rgb(202,202,202);
    margin: 1rem;
}
nav{
    width: 50%;
    margin: auto;

}
nav ul li a {
    text-decoration: none;
    color: #222;
}

/*
.navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  
    list-style: none;
    margin: 0; 
    background: deepskyblue;
}

.navigation > li{
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: white;
    border-bottom: 0.1rem solid grey; 
}*/


/*nav{
    margin : 1rem;
}

nav ul li{
    display: inline-block;
}

nav ul li{
    margin: 0 background-color: #ffc;em;
}*/

/******* sous background-color: #ffc;nu *******/
/*.deroulant:first-child > a::after{
    content: " +";
    font-size: 12px;
}*/
.sous{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: -40px;
}

nav > ul li:hover .sous{
    display:block;
}

.sous li{
    float: none;
    width: 100%;
    /*text-align: left;*/
    background-color: rgb(252, 252, 252);
}

nav ul li{
    position: relative;
    float: left;
}

/******* body *******/

h1{
    font-size: 3.9rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 1.6rem;
    padding: 0.3rem;
}

nav ul li{
    font-size: 2.6rem;
}

h1, h2{
    text-align: center;
}

article{
    border: 0.1rem solid grey;
    margin: 3rem auto;
    width: 80%;
    background-color: rgb(202,202,202);
    padding: 0.1rem;
}


.image>img{
    width: 100%;
}

.divp{
    vertical-align: top;
    padding: 0.1rem;
}

/*********  tablette   *********/
@media screen and (min-width: 641px){
    /****** menu *******/
    nav{
        width: 99%;
        margin : 1rem auto;
    }

    nav ul li{
        display: inline-block;
        width: 32%;
        margin: 0;
    }

    
    nav ul li, .divp{
        display: inline-block;
    }

}

/********* desktop  ********/
@media screen and (min-width: 1064px){

    


    /******* body *******/
    .image, .divp{
        width: 48%;
        margin: 0.1rem;
    }

    .image{
        display: inline-block;
    }

    .divp{
        vertical-align: top;
        padding: 0.3rem;
    }
}