/****** menu *******/
nav ul li{
    list-style: none;
    text-align: center;
    border: 0.1rem solid #999999;
    border-radius: 50%;
    background-color: rgb(202,202,202);
    margin: 1rem;
}
nav{
    width: 50%;
    margin: auto;


}
nav ul li a {
    text-decoration: none;
    color: #222;
}



/*
.navigation{
    display: flex;
    flex-flow: row wrap;
</div>tent: flex-end;
</div>
</div> none;
</div>
</div> deepskyblue;
</div>
</div>
.navigation > li{
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: white;
    border-bottom: 0.1rem solid grey; 
}*/


/*nav{
    margin : 1rem;
}

nav ul li{
    display: inline-block;
}

nav ul li{
    margin: 0 background-color: #ffc;em;
}*/

/******* sous background-color: #ffc;nu *******/
/*.deroulant:first-child > a::after{
    content: " +";
    font-size: 12px;
}*/
.sous{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: -40px;
}

nav > ul li:hover .sous{
    display:block;
}

.sous li{
    float: none;
    width: 100%;
    /*text-align: left;*/
    background-color: rgb(252, 252, 252);
}

nav ul li{
    position: relative;
    float: left;
}